body {
    font-size: 16px;
    font-family: "Open Sans";
}

h1 {
    font-size: 60px;
    font-family: 'Merriweather';
}

h2 {
    font-size: 24px;
    font-family: 'Merriweather';
    color:#3E606F;

}


h3 {
    font-size: 28px;
    font-family: 'Merriweather';
    color:#3E606F;

}
/* Navbar */

.nav_liste {
    list-style-type: none;
    margin: 0;
    padding-top: 25px;;
    overflow: hidden;
    font-weight: bold;
}
  
.nav_liste li {
    float: right;
  }
  
.nav_liste li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
  
.nav_liste li a:hover {
    border-bottom: 2px solid white;
}

.nav_liste .no_border a:hover{
    border-bottom: none;
}

.logo1 {

}
/* Accueil */

header {
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.accueil {
    color: white;
    padding-top: 50px;
    padding-left: 12%;
    font-size: 26px;
}

.baseline {
    font-size: 20px;
    padding-left: 30px;
}

/* Ariane */

.Ariane {
    padding-top: 1%;
    padding-left: 1%;
}
.Ariane a {
    text-decoration: none;
    color:#3E606F;
}

/* Chambre */

.chambre_tete {
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
.chambre_slide {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.chambre_titre {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1%;
}

.chambre_image img{
    width: 450px;
}

.bouton_chambre {
    display: flex;
    justify-content: space-around;
}   

.bouton_chambre1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15%;
}   


/* Transition */
.transi{
    height: 500px;
    background-image: url("images/background3.jpg");
    background-position: right;
    background-size: cover;

}


/* Service */

.service_container {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 8%;
}

.service_liste li {
    list-style-type: none;
    color: grey;

}

.service_titre {
    text-align: center;
    padding-top: 5%;
}


/* Transition 2 */

.transi2{
    height: 500px;
    background-image: url("images/background2.jpg");
    background-position: right;
    background-size: cover;

}

/* Footer */

.footer_logo {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}

.copyright {
    text-align: center;
    padding-top: 1%;

}

.footer_titre {
    font-size: 22px;

}

.logo {
    height: 120px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:500px;
    width:100%;
    position:absolute;
}

.logo2{
    height: 30px;
}

.form_news{
    padding-top: 3%;
}
/* Exemple Chambre */

.exemple_image {
    width: 850px;
}

.exemple_chambre {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.exemple_titre {
    padding-top:5%;
    padding-bottom:3%;
    text-align: center;
}

.exemple_liste{
    padding: 3%;
}

/* Dropdown */

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}
